<mat-card class="cw-card-layout">

  <div fxLayout="row">
    <div fxLayout="column">
      <mat-form-field floatPlaceholder="auto">
        <input matInput [(ngModel)]="userCredentials.username"
               type="text"
               required
               placeholder="Username">

      </mat-form-field>
      <mat-form-field floatPlaceholder="auto">
        <input matInput [(ngModel)]="userCredentials.password"
               type="password"
               required
               placeholder="password"
               >
      </mat-form-field>

      <p *ngIf="loginFailed"><em> {{errorMessage}}</em></p>

      <button mat-raised-button (click)="OnSignIn()" color="primary">Login</button>
    </div>
  </div>



</mat-card>
